.profile {
  &-image-name {
    display: flex;
    align-items: center;
    margin-bottom: 30px;
    width: 30px;
    height: 30px;
    background: #66655b;
  }

  &-wrapper {
    display: grid;
    grid-gap: 8px;
    grid-template-columns: 100%;
    justify-items: center;
    max-width: 380px;
    margin-top: 24px;
  }

  &-navigation-link {
    margin-right: 50px;
  }
}
