.profile-image-name {
    display: flex;
    margin-bottom: 30px;
    align-items: center;
}
.profile-wrapper {
    max-width: 380px;
    margin-top: 24px;
    display: grid;
    grid-template-columns: 100%;
    grid-gap: 8px;
    justify-items: center;
}
.profile-navigation-link {
    margin-right: 50px;
}
