@import '@/assets/styles/helpers/helpers';

.profile {
  &__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    margin: 20px 0;
    padding: 20px;
  }

  &__item {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 200px;
    margin-right: 30px;
    color: var(--text-primary);
    font-weight: 400;
    font-size: 20px;
    font-family: $font-defence;
    font-style: normal;
    line-height: 100%;

    &-value {
      justify-content: flex-start;
      margin-left: 30px;
      color: var(--ui-primary);
      font-size: 24px;
    }

    &-container {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      width: 100%;
      height: 60px;
    }
  }
}

.change-profile {
  &__form-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  &__item-container {
    margin: 60px;
  }
}

.change-avatar {
  &__drop-zone {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 400px;
    height: 300px;
    margin: 20px 0 60px;
    padding: 40px;
    background-color: var(--ui-fields-bg);
    border-radius: 12px;
    cursor: pointer;

    &-title {
      color: var(--text-primary);
      font-weight: 400;
      font-size: 20px;
      font-family: $font-defence;
      font-style: normal;
      line-height: 100%;
      text-align: center;
    }
  }
}
