.avatar {
  display: block;
  object-fit: cover;
  border: 3px solid $color-ui-primary;
  border-radius: 50%;
  aspect-ratio: 1;
}

.avatar-active {
  border: 3px solid $color-ui-secondary;
}

.avatar-size {
  &_default {
    width: 68px;
  }

  &_small {
    width: 36px;
  }

  &_header {
    width: 50px;
    height: 50px;
  }
}
