@import 'varThemeDefault';

.avatar {
  display: block;
  object-fit: cover;
  border: 3px solid $color-ui-primary;
  border-radius: 50%;
  aspect-ratio: 1;

  &_link {
    cursor: pointer;

    &:hover {
      filter: drop-shadow(0 0 10px $color-ui-primary);
    }

    &:active {
      filter: drop-shadow(0 0 10px $color-text-primary);
    }
  }
}

.avatar-active {
  border: 3px solid $color-ui-secondary;
}

.avatar-size {
  &_default {
    width: 150px;
    height: 150px;
  }

  &_small {
    width: 36px;
  }

  &_header {
    width: 50px;
    height: 50px;
  }
}
