@import './varThemeDefault';

.plane-link {
  color: $color-text-primary;
  font-weight: 500;
  font-size: 20px;
  font-family: $font-primary;
  line-height: 1.5;
  text-align: -webkit-center;
  border: none;
  cursor: pointer;
  transition: 0.3s ease-in;

  &:hover {
    color: $color-ui-primary;
  }
}

.custom-link {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  height: 100%;
  margin: 0 20px;
  color: $color-text-primary;
  font-weight: 400;
  font-size: 26px;
  font-family: $font-defence;
  font-style: normal;
  line-height: 100%;
  text-align: center;
  cursor: pointer;

  &:hover {
    color: $color-ui-primary;
    filter: drop-shadow(0 0 9px $color-ui-primary);
    transition-delay: inherit;
    text-decoration-line: underline;
  }

  &:disabled {
    color: $color-text-disable;
  }
}
