// Colors
$color-background: #1e1f1e;
$color-overlay: rgb(30 31 30 / 70%);
$color-text-primary: #fff;
$color-text-primary-10: #494945;
$color-text-secondary: #dea74b;
$color-text-disable: #b1ad99;
$color-ui-primary: #dea74b;
$color-ui-secondary: #fff;
$color-ui-fields-bg: rgb(193 211 255 / 50%);
$color-ui-button-border: #727272;
$color-ui-button-disable: linear-gradient(
  90deg,
  rgb(122 112 99 / 100%) 0%,
  rgb(71 70 64 / 100%) 100%
);
$color-header-footer-gradient: linear-gradient(
  89.98deg,
  #484844 0.06%,
  #66655b 48.46%,
  #41413c 99.98%
);
$color-ui-danger: #965454;
$color-ui-form-bg: #323435;

// Fonts
$font-safe: tahoma, geneva, verdana, sans-serif;
$font-primary: cormorant-bold, $font-safe;
$font-secondary: romvel cyr, $font-safe;
$font-defence: romvel cyr, $font-safe;
$font-h1-size: 64px;

//Border
%border-button {
  border: 3px solid $color-ui-button-border;
  border-radius: 5px;
  box-shadow: 0 14px 24px rgb(0 0 0 / 25%);
}

.bg-image {
  background: url('@assets/images/metall-texture.jpg') no-repeat center;
  background-size: cover;

  &_login {
    background: url('@assets/images/background/knight.jpg') no-repeat center;
    background-size: cover;
  }

  &_404 {
    background: url('@assets/images/background/helmet.png') no-repeat center;
    background-size: cover;
  }
}
