@import '@assets/styles/helpers/helpers';

.spacer {
  width: 100%;
  height: 6px;
  background: var(--primary);
  box-shadow: 0 0 4px var(--primary), 0 0 4px var(--primary);
  filter: blur(0.5px);
}
