@import '@/assets/styles/helpers/helpers';

.user-card {
  &__container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    height: 100%;
    max-height: 80px;
    padding: 0;
  }
}
