@import '@/assets/styles/helpers/helpers';

.footer {
  display: flex;
  flex: 0 0 auto;
  flex-direction: row;
  width: 100%;
  height: 45px;
  overflow: hidden;
  background: black;
  background: var(--header-footer-gradient);

  &__logo {
    width: 350px;
    height: 100%;
    background: url('./images/NoLabelCopyright2023.png');
  }

  &__children-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 744px;
    height: 100%;
  }

  &__link-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 202px;
    height: 100%;
  }
}
