@import '@assets/styles/varThemeDefault';

.player {
  display: flex;
  align-items: center;
  height: 70px;
  margin-bottom: 15px;
  color: $color-text-secondary;
  font-weight: 600;
  font-size: 18px;
  font-family: $font-secondary;
  text-transform: capitalize;

  &__number {
    width: 50px;
    font-size: 26px;
  }

  &__profile {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 220px;
  }

  &__score {
    width: 69px;
    font-size: 26px;
    text-align: right;
  }

  &__image {
    width: 50px;
    margin-left: 50px;
  }

  &__name {
    margin-left: 32px;
    overflow: hidden;
    font-size: 26px;
    white-space: nowrap;
    text-overflow: ellipsis;
  }
}
