.player {
  display: flex;
  align-items: center;
  height: 70px;
  margin-bottom: 24px;
  color: var(--color-text-secondary);
  font-weight: 600;
  font-size: 18px;
  font-family: var(--font-secondary);
  text-transform: capitalize;
}

.player__number {
  width: 40px;
  font-size: 26px;
}

.player__profile {
  display: flex;
  align-items: center;
  width: 239px;
}

.player__score {
  width: 69px;
  font-size: 26px;
  text-align: right;
}

.player__image {
  width: 50px;
  margin-left: 50px;
}

.player__name {
  margin-left: 32px;
  overflow: hidden;
  font-size: 26px;
  white-space: nowrap;
  text-overflow: ellipsis;
}
