.player {
    margin-bottom: 24px;
    height: 70px;
    font-family: var(--font-secondary);
    display: flex;
    font-size: 18px;
    color: var(--color-text-secondary);
    font-weight: 600;
    display: flex;
    align-items: center;
    text-transform: capitalize;
}

.player__number {
    width: 40px;
    font-size: 26px;
}

.player__profile {
    width: 239px;
    display: flex;
    align-items: center;
}

.player__score {
    width: 69px;
    text-align: right;
    font-size: 26px;
}

.player__image {
    margin-left: 50px;
    width: 50px;
}

.player__name {
    margin-left: 32px;
    font-size: 26px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}
