@import '@assets/styles/helpers/helpers';

.form-control {
  // .form-control__label
  &__label {
    display: block;
    margin-bottom: 0.5rem;
    padding-left: 3px;
    color: var(--text);
    font-size: $text-md-size;
    font-family: $font-title;
    line-height: 1.5;
    letter-spacing: 1.5px;
  }

  // .form-control__wrapper
  &__wrapper {
    position: relative;
    width: 300px;
  }

  // .form-control__show-pass
  &__show-pass {
    position: absolute;
    top: 50%;
    right: 0;
    height: 100%;
    transform: translateY(-50%);

    .icon {
      width: torem(30);
    }
  }

  // .form-control__input
  &__input {
    width: 100%;
    height: 55px;
    padding: 1rem;
    font-size: $text-bg-size;
    font-family: $font-base;
    background-color: var(--fields-bg);
    border: none;
    border-radius: $border-radius;
    outline: none;
    transition: box-shadow $transition;

    // .form-control__input:focus,
    // .form-control__input:hover
    &:focus,
    &:hover {
      box-shadow: inset 0 1px 5px 0 var(--box-shadow-primary), 0 3px 5px 0 var(--box-shadow-primary);
    }

    // .form-control__input::placeholder
    &::placeholder {
      color: var(--text);
      font-family: $font-title;
      letter-spacing: 0.5px;
    }

    // .form-control__input:focus::placeholder
    &:focus::placeholder {
      color: transparent;
    }
  }

  // .form-control__group
  &__group {
    position: relative;
    display: flex;
    height: 100%;

    .form-control__input {
      padding-right: 50px;
    }
  }

  // .form-control__feedback
  &__feedback {
    @include popup;

    color: var(--danger);
    font-size: $text-md-size;
    background: var(--overlay);
  }
}
