@import '@/assets/styles/helpers/helpers';

.avatar {
  display: block;
  object-fit: cover;
  border: 3px solid var(--ui-primary);
  border-radius: 50%;
  aspect-ratio: 1;
  // анимация avatar при наведении
  transition: all 0.3s ease-in-out;

  &:hover {
    transform: scale(1.1);
    filter: drop-shadow(0 0 10px var(--ui-primary));
  }

  // .avatar-active
  &-active {
    border: 3px solid var(--ui-secondary);
  }

  // .avatar_default
  &_default {
    width: 150px;
    height: 150px;
  }

  // .avatar_small
  &_small {
    width: 36px;
  }

  // .avatar_header
  &_header {
    width: 50px;
    height: 50px;
  }

  // .avatar_link
  &_link {
    cursor: pointer;

    // .avatar_link:hover
    &:hover {
      filter: drop-shadow(0 0 10px var(--ui-primary));
    }

    // .avatar_link:active
    &:active {
      filter: drop-shadow(0 0 10px var(--text-primary));
    }
  }
}
