input {
  display: flex;
  flex-direction: column;
  max-width: 380px;
  font-family: var(--font-primary);
}

input label {
  margin-bottom: 8px;
  color: var(--color-text-primary);
  font-weight: 600;
  font-size: 18px;
  line-height: 1.5;
}

.input_type_read-only .input__label {
  margin-bottom: 4px;
}

.input__control {
  height: 48px;
  padding: 8px 16px;
  color: var(--color-text-secondary);
  font-size: 20px;
  font-family: var(--font-primary);
  line-height: 1.6;
  text-transform: capitalize;
  background-color: var(--color-background);
  border-radius: 6px;
  opacity: 0.7;
  transition: 0.3s ease-in;
}

.input__control:disabled {
  opacity: 0.4;
}

.input__control::input-placeholder,
.input__control::placeholder,
.input__control::placeholder {
  color: var(--color-text-secondary);
  opacity: 1;
}

.input_type_read-only .input__control {
  color: var(--color-text-primary);
  border: none;
  border-bottom: 1px solid var(--color-ui-primary);
  border-radius: 0;
  cursor: default;
  opacity: 1;
}

.input_invalid .input__control {
  color: var(--color-error);
  border: 2px solid var(--color-error);
}

.input__error {
  color: var(--color-error);
  font-size: 0;
  line-height: 1.6;
  transition: 0.3s ease-in;
}

.input_invalid .input__error {
  margin-top: 4px;
  font-size: 10px;
}
