@import '@/assets/styles/helpers/helpers';

.input {
  &__container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    margin: 12px 0;
  }

  &__wrapper {
    width: 100%;
    height: fit-content;
    background-color: var(--ui-fields-bg);
    border-radius: 12px;

    &:active,
    &:focus,
    &:hover {
      box-shadow: 0 0 20px rgb(255 255 255 / 15%), 0 0 20px var(--ui-primary);
    }

    &-error {
      box-shadow: 0 0 20px rgb(255 255 255 / 15%), 0 0 20px var(--ui-danger);
    }

    &_texarea {
      height: auto;
    }
  }

  &__label {
    height: 100%;
    margin-right: 60px;
    margin-bottom: 5px;
    color: var(--text-primary);
    font-weight: 700;
    font-size: 20px;
    font-family: $font-defence;
    line-height: 1.5;
  }
}

.input__field {
  width: 100%;
}
