@import '../../assets/styles/varThemeDefault';

.button {
  width: 100%;
  max-width: 200px;
  min-height: 62px;
  margin-top: 30px;
  margin-bottom: 30px;
  padding: 10px;
  color: $color-text-primary;
  font-weight: 500;
  font-size: 24px;
  font-family: $font-primary;
  line-height: 1.5;
  text-align: -webkit-center;
  text-transform: capitalize;
  background-color: transparent;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: 0.3s ease-in;

  &:hover {
    color: $color-text-secondary;
    opacity: 0.8;
  }

  &:disabled {
    cursor: default;
    opacity: 0.6;
  }

  &_view_primary {
    color: $color-text-primary;
    background-color: $color-ui-primary;
    border: 2px solid $color-ui-primary;
  }

  &_view_secondary {
    border: 2px solid $color-ui-primary;
  }

  &_view_ghost {
    width: fit-content;
  }

  &-wrapper {
    margin-top: 10%;
    text-align: center;
  }
}

.plane-link {
  color: $color-text-primary;
  font-weight: 500;
  font-size: 20px;
  font-family: $font-primary;
  line-height: 1.5;
  text-align: -webkit-center;
  text-transform: capitalize;
  border: none;
  cursor: pointer;
  transition: 0.3s ease-in;

  &:hover {
    color: $color-ui-primary;
  }
}
