@import '@assets/styles/helpers/helpers';

.button {
  @include flex-center-vert;

  min-width: $min-control-size;
  min-height: $min-control-size;
  text-align: center;
  background-color: transparent;
  border: $border;
  border-color: transparent;
  border-radius: $border-radius;
  transition: all $transition;

  // .button_primary
  &_primary {
    @include flex-center;

    position: relative;
    height: 55px;
    padding: 0 1rem;
    font-size: $text-bg-size;
    font-family: $font-title;
    text-transform: uppercase;
    background-color: var(--primary);

    // .button_primary:hover
    &:hover {
      background-color: var(--primary-dark);
      transform: scale(1.05);
    }

    // .button_primary:focus
    &:focus {
      transform: scale(0.95);
    }
  }

  // .button_outline
  &_outline {
    height: 55px;
    padding: 0.5rem;
    color: var(--primary);
    font-size: $text-md-size;
    font-family: $font-title;
    letter-spacing: 0.5px;
    border-color: var(--primary);

    // .button_outline:hover
    &:hover {
      color: var(--primary-dark);
      border-color: var(--primary-dark);
    }
  }

  // .button_icon
  &_icon {
    justify-content: center;

    .icon {
      width: 40px;
      height: 40px;
      transition: fill $transition;
    }

    // .button_icon:hover
    &:hover {
      .icon {
        fill: var(--primary);
      }
    }
  }
}
