@import 'assets/fonts/fonts.css';

* {
  z-index: 2;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --color-background: #1e1f1e;
  --color-text-primary: #f5f3f2;
  --color-text-secondary: #ffd680;
  --color-text-hint: #b1ad99;
  --color-text-inverted: #222;
  --color-ui-primary: #dea74b;
  --color-ui-primary-50: #494945;
  --color-error: #b83333;
  --font-safe: tahoma, geneva, verdana, sans-serif;
  --font-primary: romvel cyr, var(--font-safe);
  --font-secondary: romvel cyr, var(--font-safe);
  --font-defence: romvel cyr, var(--font-safe);
}

:root[data-theme='light'] {
  --background-color: #fff;
  --text-color: #1c1e21;
}

:root[data-theme='dark'] {
  --background-color: #18191a;
  --text-color: #f5f6f7;
}

body {
  position: relative;
  width: 100%;
  height: 100%;
  min-height: 100vh;
  margin: 0;
  padding: 0;
  color: var(--color-background);
  font-family: var(--font-primary);
}

.content-wrapper {
  padding: 0 70px;
}

#root {
  position: relative;
  height: 100vh;
}

input[type='text'],
input[type='email'],
input[type='password'],
input[type='tel'],
input[type='search'] {
  outline: none;
}

input[type='search']::-webkit-search-decoration,
input[type='search']::-webkit-search-cancel-button,
input[type='search']::-webkit-search-results-button,
input[type='search']::-webkit-search-results-decoration {
  appearance: none;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}
