@import 'assets/fonts/fonts.css';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  z-index: 2;
}

:root {
  --color-background: #1e1f1e;
  --color-text-primary: #f5f3f2;
  --color-text-secondary: #ffd680;
  --color-text-hint: #B1AD99;
  --color-text-inverted: #222;
  --color-ui-primary: #DEA74B;
  --color-ui-primary-50: #494945;
  --color-error: #b83333;
  --font-safe: Tahoma, Geneva, Verdana, sans-serif;
  --font-primary: romvel Cyr, var(--font-safe);
  --font-secondary: romvel Cyr, var(--font-safe);
  --font-defence: romvel Cyr, var(--font-safe);
}

:root[data-theme="light"] {
    --background-color: #ffffff;
    --text-color: #1C1E21;
  }

  :root[data-theme="dark"] {
    --background-color: #18191a;
    --text-color: #f5f6f7;
  }

  body {
    color: var(--color-background);
    font-family: var(--font-primary);
    position: relative;
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
    min-height: 100vh;
  }


.content-wrapper {
  padding: 0 70px 0 70px;
}

#root {
  position: relative;
  height: 100vh;
}

input[type='text'],
input[type='email'],
input[type='password'],
input[type='tel'],
input[type='search'] {
  outline: none;
}

input[type='search']::-webkit-search-decoration,
input[type='search']::-webkit-search-cancel-button,
input[type='search']::-webkit-search-results-button,
input[type='search']::-webkit-search-results-decoration {
  appearance: none;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;

}
