@import '@/assets/styles/helpers/helpers';

.about {
  $about-link-gap: 1rem;

  @include mq(lg) {
    @include flex-column;

    align-items: center;
  }

  // .about__title
  &__title {
    margin-bottom: 2rem;
  }

  // .about__links
  &__links {
    display: flex;
    flex-flow: wrap column;
    flex-grow: 1;
    gap: $about-link-gap;
    align-items: center;

    @include mq(sm) {
      flex-direction: row;
      justify-content: space-between;
    }
  }

  // .about__item
  &__item {
    @include mq(sm) {
      width: calc(50% - $about-link-gap);
      margin: 0 auto;
    }

    @include mq(md) {
      width: calc(33.3333% - $about-link-gap);
    }
  }
}
