.about {
  &__title {
    margin: 50px;
    font-size: 60px;
    text-shadow: 3px 3px 20px rgb(0 0 0);
  }

  &__container {
    display: flex;
    flex-direction: column;
    background: url('@/assets/images/background/about_bg.jpg') no-repeat center;
    background-size: cover;

    &_link {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
      width: 100%;
      height: 400px;
      margin-top: 250px;
      background: radial-gradient(
        63.65% 47.09% at 50.03% 55.05%,
        #000 0%,
        rgb(0 0 0 / 84.9%) 51.47%,
        rgb(0 0 0 / 0%) 100%
      );
    }
  }
}
