@import '@/assets/styles/helpers/helpers';

.title {
  margin-top: 30px;
  margin-bottom: 30px;
  padding: 0 0 8px;
  font-weight: 300;
  font-size: 36px;
  font-family: $font-secondary;
  font-style: normal;
  line-height: 0.97;
  letter-spacing: 0.06em;
  text-align: center;
  user-select: none;

  // .title_view
  &_view {
    // .title_view-base
    &-base {
      color: var(--text-primary);
    }
  }
}
