@import '@/assets/styles/helpers/helpers';

.error-page {
  @include flex-center-column;

  gap: 2rem;
  align-items: center;
  height: calc(100vh - 77px);

  // error-page__link
  &__link {
    color: var(--primary);
    font-size: $text-bg-size;
  }
}
