@import '@assets/styles/helpers/helpers';

.link {
  position: relative;

  // .linl::after
  &::after {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 4px;
    background-color: var(--primary);
    border-radius: $border-radius;
    visibility: hidden;
    opacity: 0;
    transition: all $transition;
    content: '';
  }

  &:hover {
    &::after {
      visibility: visible;
      opacity: 1;
    }
  }
}
