@import '@/assets/styles/helpers/helpers';

%lidearboard-item {
  @include flex-center-vert;

  min-width: 20%;
  min-width: 300px;
  min-height: $min-control-size;
  padding: 0 0.5rem;
  color: var(--primary);
  font-weight: normal;
  font-size: $text-bg-size;
  font-family: $font-title;
  letter-spacing: 2px;
  background: var(--header-gradient);
  border-radius: $border-radius;
  box-shadow: 0 0 7px rgb(255 255 255 / 78%);
  transition: all $transition;
}

.leaderboard {
  // .liderboard-user
  &-user {
    // .liderboard-user__title
    &__title {
      margin-bottom: 1rem;
      font-size: $text-strong;
    }

    // .liderboard-user__result
    &__result {
      @extend %lidearboard-item;
    }
  }

  // .leaderboard__title
  &__title {
    margin-bottom: 2rem;
  }

  // .leaderboard__list
  &__list {
    @include flex-column;

    gap: 1rem;
    padding: 2rem 0;
  }

  // .leaderboard__item
  &__item {
    @extend %lidearboard-item;

    // .leaderboard__item_current
    &_current {
      color: var(--body-color);
      background: var(--primary);
    }

    // .leaderboard__item:hover
    &:hover {
      transform: scale(1.01);
    }
  }

  // .liderboard__pagination
  &__pagination {
    justify-content: flex-end;
  }
}
