@import '@/assets/styles/helpers/helpers';

.author-item {
  &__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 200px;
    height: 150px;

    &_link {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      width: 100%;
    }
  }

  &__header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    width: 50%;
    height: 80px;
    margin-bottom: 10px;
    color: var(--text-primary);
    font-weight: 400;
    font-size: 26px;
    font-family: $font-defence;
    font-style: normal;
    line-height: 100%;
    white-space: pre-wrap;
    text-align: center;
    text-shadow: 3px 3px 20px rgb(0 0 0);
    cursor: default;
  }
}
