@import '../../assets/styles/varThemeDefault';

.header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: 84px;
  overflow: hidden;
  background: $color-background;

  &__logo {
    width: 314px;
    height: 100%;
    background: url('../../assets/img/Logo_header.png');
  }

  &__container {
    display: flex;
    flex-direction: row;

    &_link {
      width: 652px;
      height: 100%;
    }

    &_link-autch {
      width: 1006px;
      height: 100%;
      background: $color-header-footer-gradient;
    }

    &_autch {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      width: 426px;
      height: 100%;
    }
  }
}
