@import '@/assets/styles/helpers/helpers';

.header {
  position: relative;
  z-index: z(header);

  // .header__container
  &__container {
    @include flex-center-vert;

    gap: min(2rem, 5vw);
    padding-top: 10px;
    padding-bottom: 17px;
    background: var(--header-gradient);
    box-shadow: inset 0 -7px 5px -2px var(--box-shadow-primary),
      0 3px 5px 0 var(--box-shadow-primary);
  }

  // .header-logo
  &-logo {
    width: 100%;
    height: $min-control-size;
    transition: fill $transition;
    fill: var(--text);
  }

  // .header__logo
  &__logo {
    display: inline-block;
    width: min(50%, 180px);

    // .header__logo:hover
    &:hover {
      .header-logo {
        fill: var(--primary);
      }

      // .header__logo::after
      &::after {
        display: none;
      }
    }
  }

  // .header__dropdown
  &__dropdown {
    .avatar {
      border: $border var(--text);
      transition: all $transition;

      &:hover {
        border-color: var(--primary);
        border-radius: 50%;
      }
    }

    .dropdown__menu {
      width: max-content;
      color: var(--text);
    }
  }

  // .header__burger-menu
  &__burger-menu {
    fill: var(--text);
  }

  // .header__menu
  &__menu {
    display: none;
  }

  // .header-user
  &-user {
    padding-bottom: 1rem;
    border-bottom: 1px solid var(--text);

    // .header-user__login
    &__login {
      margin-bottom: 0.5rem;
      font-size: $text-bg-size;
    }

    // .header-user__email
    &__email {
      font-size: $text-md-size;
    }
  }

  // .header__button
  &__button {
    font-size: $text-strong;
    font-family: $font-title;
    background-color: transparent;
    border: none;
    outline: none;
    box-shadow: none;
  }

  // .header__nav
  &__nav {
    @include flex-center-vert;

    flex-grow: 1;
  }

  // .header__nav-menu
  &__nav-menu {
    @include flex-center-vert;

    gap: 3.5rem;
  }

  // .header__link
  &__link {
    color: var(--text);
    font-size: $text-strong;
    font-family: $font-title;
    letter-spacing: 1px;
    transition: all $transition;

    // .header-menu__link:hover
    &:hover {
      position: relative;
      color: var(--primary);
      filter: drop-shadow(0 0 0.5px var(--primary));
      transition: all $transition;
    }
  }

  // .header-user-links
  &-user-links {
    @include flex-column;

    padding-top: 1rem;

    .header__link {
      color: var(--text);
      font-weight: normal;

      &::after {
        display: none;
      }
    }
  }

  // .header__switcher
  &__switcher {
    margin-right: 1rem;
  }

  // .header__block
  &__block {
    flex-grow: 1;
    align-items: center;

    // .header__block.desktop-only
    &.desktop-only {
      display: none;

      @include mq(lg) {
        display: flex;
      }
    }

    // .header__block.mobile-only
    &.mobile-only {
      display: flex;
      justify-content: flex-end;

      @include mq(lg) {
        display: none;
      }

      .header__nav-menu {
        flex-direction: column;
        gap: 1rem;
        justify-content: flex-start;
        width: 100%;
        padding: 1rem 0;
      }

      .header__item,
      .header__link {
        justify-content: center;
        width: 100%;
      }

      .header__link {
        color: var(--text);

        // .header__link:hover
        &:hover {
          color: var(--primary);
        }

        // .header__link:after
        &::after {
          bottom: -10px;
          left: 50%;
          width: 30%;
          transform: translateX(-50%);
        }
      }

      .header-user {
        @include flex-center-vert;

        gap: 1rem;
      }

      .header-user__avatar {
        width: torem(65);
        height: torem(65);
      }

      .header-user-links {
        flex-direction: row;
        padding-top: 0;
        border-bottom: 1px solid var(--text);
      }

      .burger-menu__content {
        padding-top: 1rem;
      }
    }
  }
}
