.message-wrapper {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 15px 30px;
  color: #fff;
  font-weight: 500;
  font-size: 20px;
  font-family: cormorant-bold, tahoma, geneva, verdana, sans-serif;
  line-height: 1.5;
  text-align: -webkit-center;
  border-bottom: 1px solid var(--color-text-secondary);
  border-radius: 8px;
  transition: 0.3s ease-in;
}

.author {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.user-wrapper {
  display: flex;
  gap: 20px;
  align-items: center;
  justify-content: space-between;
}

.message {
  padding-left: 90px;
}

.send-time {
  font-size: 15px;
}

.reactions {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.reaction-wrapper {
  display: flex;
}

.reaction-counter {
  position: inherit;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 20px;
  height: 20px;
  background-color: var(--ui-primary);
  border-radius: 50%;
}
