.message-wrapper {
  display: flex;
  flex-direction: column;
  gap: 10px;
  border-bottom: 1px solid var(--color-text-secondary);
  padding: 15px 30px;
  border-radius: 8px;

  color: #fff;
  font-weight: 500;
  font-size: 20px;
  font-family: cormorant-bold, tahoma, geneva, verdana, sans-serif;
  line-height: 1.5;
  text-align: -webkit-center;
  transition: 0.3s ease-in;
}

.user-wrapper {
  display: flex;
  align-items: center;
  gap: 20px;
}

.message {
  padding-left: 90px;
}

.send-time {
  font-size: 15px;
}
