* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: var(--background);
}

li {
  list-style-type: none;
}

#root {
  display: flex;
  flex-direction: row;
  width: 100vw;
  max-height: 100vh;
  margin: 0;
  padding: 0;
}

.left-image {
  width: 100%;
  min-height: 100%;
  background: var(--overlay);
  background: url('@/assets/images/background/bg_left.jpg') no-repeat center;
  background-size: cover;
}

.right-image {
  width: 100%;
  min-height: 100%;
  background: var(--overlay);
  background: url('@/assets/images/background/bg_right.jpg') no-repeat center;
  background-size: cover;
}

.content {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 1320px;
  height: 100%;
  min-height: 100vh;
  margin: 0;
  padding: 0;
}

input[type='text'],
input[type='email'],
input[type='password'],
input[type='tel'],
input[type='search'],
textarea {
  outline: none;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus {
  background-size: 0;
  box-shadow: none;
  -webkit-text-fill-color: var(--text-secondary);
}

a {
  text-decoration: none;
}

.input {
  &__field {
    width: 290px;
    padding: 0;
    color: var(--text-secondary);
    font-size: 32px;
    font-family: $font-primary;
    line-height: 1.6;
    text-align: right;
    background: transparent;
    border: none;
    color-scheme: dark;
  }
}

// containers

.container {
  &_center {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  &_start {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  &-content {
    display: flex;
    flex: 1 0 auto;
    align-items: center;
    justify-content: flex-start;
    height: 100%;

    &:last-child {
      margin-left: 0;
    }

    &_main {
      display: flex;
      align-items: flex-start;
      justify-content: flex-start;
      background-size: cover;
    }
  }
}

// В макете используем 12-ти колоночную сетку, по аналогии с bootstrap,
// ширина сетки = 1320px, отступы 20px
// в контентной части, для задания ширины контейнера можно следующие классы:

.colum {
  &-1 {
    width: 92px;
    margin-left: 20px;
  }

  &-2 {
    width: 202px;
    margin-left: 20px;
  }

  &-3 {
    width: 314px;
    margin-left: 20px;
  }

  &-4 {
    width: 426px;
    margin-left: 20px;
  }

  &-5 {
    width: 538px;
    margin-left: 20px;
  }

  &-6 {
    width: 650px;
    margin-left: 20px;
  }

  &-7 {
    width: 762px;
    margin-left: 20px;
  }

  &-8 {
    width: 874px;
    margin-left: 20px;
  }

  &-9 {
    width: 986px;
    margin-left: 20px;
  }

  &-10 {
    width: 1098px;
    margin-left: 20px;
  }

  &-11 {
    width: 1210px;
    margin-left: 20px;
  }

  &-12 {
    width: 1320px;
    margin-left: 20px;
  }
}

.hidden {
  display: none;
}
