.logo-text {
    display: flex;
    flex-direction: column;
    align-self:center;
    text-align: center;
}
.logo-text-symbols {
    font-family: var(--font-defence);
    font-style: normal;
    font-weight: 400;
    font-size: 96px;
    line-height: 120px;
    display: flex;
    align-items: center;
    background: var(--color-text-primary);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    white-space: break-spaces;
    text-transform: capitalize;
}
