@import '@/assets/styles/helpers/helpers';

.logo-text {
  z-index: 3;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100%;
  color: var(--text-primary);
  font-weight: 400;
  font-size: 96px;
  font-family: $font-defence;
  font-style: normal;
  line-height: 120px;
  white-space: break-spaces;
  //align-self: center;
  text-align: center;
  text-transform: capitalize;
}
