@import '../src/assets/styles/varThemeDefault';

.leaderboard {
  &__user {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    width: 20px;
    min-height: 35px;
    margin: 10px 0;
    padding: 0 10px;
    color: $color-text-primary;
    font-weight: 150;
    font-size: 18px;
    font-family: $font-defence;
    letter-spacing: 4px;
    text-shadow: 0 0 5px rgb(0 0 0 / 89%);
    background: $color-header-footer-gradient;
    border-radius: 5px;
    box-shadow: 0 0 7px rgb(255 255 255 / 78%);

    &_current {
      color: $color-text-primary;
      background: $color-ui-primary;
      box-shadow: 0 0 12px $color-ui-primary;
    }
  }

  &__user-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    width: 100%;
    height: 600px;
    margin: 20px 0;
    padding: 10px;
    overflow-y: scroll;
  }
}
