@import '../../assets/styles/varThemeDefault';

.input {
  &__container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    //height: 56px;
    margin: 27px 0;
  }

  &__wrapper {
    width: 224px;
    height: 56px;
    background-color: $color-ui-fields-bg;
    border-radius: 12px;

    &:active,
    &:focus,
    &:hover {
      box-shadow: 0 0 20px rgb(255 255 255 / 15%), 0 0 20px $color-ui-primary;
    }

    &-error {
      box-shadow: 0 0 20px rgb(255 255 255 / 15%), 0 0 20px $color-ui-danger;
    }
  }

  &__label {
    height: 100%;
    margin-right: 60px;
    margin-bottom: 5px;
    color: $color-text-primary;
    font-weight: 700;
    font-size: 20px;
    font-family: $font-defence;
    line-height: 1.5;
  }
}
