@font-face {
  font-family: Cormorant;
  src: url('Cormorant-Regular.woff2') format('woff2'),
    url('Cormorant-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: Cormorant;
  src: url('Cormorant-Semibold.woff2') format('woff2'),
    url('Cormorant-Semibold.woff') format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: Cormorant;
  src: url('Cormorant-Bold.woff2') format('woff2'),
    url('Cormorant-Bold.woff') format('woff');
  font-weight: 500;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: romvel Cyr;
  src: url('romvel.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
